@import "tailwindcss";
@plugin "daisyui";

@media (prefers-color-scheme: dark) {
  /* ถ้าผู้ใช้ตั้งค่าเป็นธีมมืด */
  body {
    background-color: black; /* หรือสีเข้ม */
  }
}
@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../assets/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2-variations'),
    url('/fonts/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  /*Font*/
  --font-display: 'Satoshi', sans-serif;
  --font-heading: 'Integral CF', sans-serif;
  /*Color*/
  --my-color-accent: #000000;
  --my-color-secondary: #F2F0F1;
  --my-color-text-secondary: rgba(0, 0, 0, 0.6);
  /*breakpoint*/
  --breakpoint-*: initial;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

body {
  font-family: var(--font-display);
}

h1 {
  font-family: var(--font-heading);
}


strong {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

small {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

Button {
  font-size: clamp(0.875rem, 2vw, 1rem);
}