---
import Container from './Container.astro';
import SliderReviews from './SliderReviews.astro';
---

<section>
  <Container class="py-16 flex flex-col gap-8">
    <h1 class="section-title text-left">OUR HAPPY CUSTOMERS</h1>
    <SliderReviews />
  </Container>
</section>