---
import Container from "./Container.astro";
import MenuLinks from "./Navbar/MenuLinks.astro";
import HamburgerMenu from "./Navbar/HamburgerMenu.astro";
import SearchBar from "./Navbar/SearchBar.astro";
import IconLinks from "./Navbar/IconLinks.astro";
---

<nav class="sticky top-0 bg-white">
  <Container
    class="flex lg:justify-between items-center py-3 gap-3 lg:py-6 lg:gap-8 h-18 relative"
  >
    <!-- Hamburger Menu -->
    <HamburgerMenu />
    <!-- Back arrow -->
    <div
      class="back-button text-2xl hidden p-2 rounded-full active:bg-[var(--my-color-secondary)]"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <!-- brand logo -->
    <div class="logo ml-10 lg:ml-0">
      <a href=""><img src="src/img/logo/SHOP.CO.svg" alt="logo" /></a>
    </div>
    <MenuLinks />
    <!-- SearchBar -->
    <SearchBar />
    <!-- IconLinks -->
    <IconLinks />
  </Container>
</nav>
