---
import Container from "./Container.astro";
---

<nav>
  <Container
    class="flex lg:justify-between items-center py-3 gap-3 lg:py-6 lg:gap-8 h-18"
  >
    <!--Hamburger Menu-->
 <div class="hamburger-menu-toggle flex flex-col justify-center items-center cursor-pointer">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
    <!-- Back arrow -->
    <div
      class="back-button text-2xl hidden p-2 rounded-full active:bg-[var(--my-color-secondary)]"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <!-- brand logo -->
    <div class="logo">
      <a href=""><img src="src/img/logo/SHOP.CO.svg" alt="logo" /></a>
    </div>
    <!-- menu links -->
    <div
      class="menu-links
   menu-links
    fixed
    top-0
    right-0
    w-[400px]
    h-full
    z-50
    p-4
    invisible
    overflow-y-auto
    translate-x-full
    transition-all
    duration-300
    bg-[var(--my-color-accent)]
    text-[var(--my-color-secondary)]
    lg:flex"
    >
      <i class="fa-solid fa-xmark close-hamburger-menu"></i>
      <ul class="nav-links lg:flex items-center gap-6">
        <li class="nav-link group relative">
          <a href="">Home</a>
          <i
            class="fa-solid fa-chevron-down transform transition-all duration-300 group-hover:rotate-180"
          ></i>
          <ul
            class="dropdown-menu
              absolute top-[100%] left-[-16px]
              max-w-[200px]
              whitespace-nowrap
              bg-white rounded-[10px]
              shadow-xl/20 inset-shadow-2xs opacity-0 invisible
              translate-y-0 transition-all duration-300 ease-in-out
              group-hover:translate-y-1 group-hover:opacity-100 group-hover:visible overflow-hidden"
          >
            <li class="dropdown-menu-item"><a href="#">Blog sub Menu 1 </a></li>
            <li class="dropdown-menu-item"><a href="#">Blog sub Menu 2</a></li>
            <li class="dropdown-menu-item"><a href="#">Blog sub Menu 3</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="">About</a></li>
        <li class="nav-link"><a href="">Services</a></li>
        <li class="nav-link"><a href="">Contact</a></li>
      </ul>
    </div>
    <!-- input search -->
    <div class="search lg:flex hidden relative grow-1">
      <input
        type="search"
        placeholder="Search for products..."
        class="w-full pl-10 pr-5 py-3 bg-gray-100 rounded-full"
      />
      <i
        class="fa-solid fa-magnifying-glass absolute top-1/2 left-3 -translate-y-1/2 text-xl text-gray-400"
      ></i>
    </div>
    <!-- icons links -->
    <div class="icons-links ml-auto">
      <ul class="flex flex-row gap-0 lg:gap-3 text-xl">
        <li class="magnifying-glass-icon icons-link-item lg:hidden">
          <i class="fa-solid fa-magnifying-glass"></i>
        </li>
        <li class="icons-link-item">
          <a href="" aria-label="Shopping Cart"
            ><i class="fa-solid fa-cart-shopping"></i></a
          >
        </li>
        <li class="icons-link-item">
          <a href="" aria-label="User Account"
            ><i class="fa-regular fa-user"></i></a
          >
        </li>
      </ul>
    </div>
  </Container>
</nav>

<script>
  const magniFyingGlassIcon = document.querySelector(".magnifying-glass-icon");
  const searchInput = document.querySelector(".search");
  const logo = document.querySelector(".logo");
  const accountLinks = document.querySelector(".icons-links");
  const backButton = document.querySelector(".back-button");
  const navbarToggle = document.querySelector(".navbar-toggle");
  const hamburgerMenu = document.querySelector(".hamburger-menu-toggle");
  const menuLinks = document.querySelector(".menu-links");
  const closeHamBurgerMenu = document.querySelector(".close-hamburger-menu");

  // สร้างฟังก์ชันรวมเพื่อจัดการ logic

  // ฟังก์ชัน ตอนกดเเว่นตาขยายเเล้ว ช่อง input จะเเสดงขึ้นมา
  const toggleSearch = () => {
    // ใช้ optional chaining (?) เพื่อป้องกัน error
    searchInput?.classList.toggle("hidden");
    logo?.classList.toggle("hidden");
    accountLinks?.classList.toggle("hidden");
    backButton?.classList.toggle("hidden");
    navbarToggle?.classList.toggle("hidden");
  };

  const togglesHamburgerMenu = () => {
    menuLinks?.classList.toggle("invisible");
    menuLinks?.classList.toggle("translate-x-full");
  };

  // ตรวจสอบว่ามี magnifyingGlassIcon และ backButton ก่อนที่จะเพิ่ม Event Listener
  if (magniFyingGlassIcon) {
    magniFyingGlassIcon.addEventListener("click", toggleSearch);
  }

  if (backButton) {
    backButton.addEventListener("click", toggleSearch);
  }

  // ตรวจสอบว่ามีว่า hamburger menu click หรือ ไหม
  if (hamburgerMenu) {
    hamburgerMenu.addEventListener("click", togglesHamburgerMenu);
  }

  // ตรวจสอบว่ามีว่า close-hamburger-menu click หรือ ไหม
  if (closeHamBurgerMenu) {
    closeHamBurgerMenu.addEventListener("click", togglesHamburgerMenu);
  }
</script>

<style>
  @import "tailwindcss";
  .dropdown-menu-item {
    @apply hover:bg-[var(--my-color-secondary)];
  }
  .dropdown-menu-item a {
    @apply block p-3 hover:bg-[var(--my-color-secondary)];
  }
  .nav-link {
    @apply p-4  flex justify-between border-b-1 border-solid border-white;
  }

  .icons-link-item {
    @apply p-2 rounded-full  inline-block  active:bg-[var(--my-color-secondary)] cursor-pointer;
  }
  .bar {
    /* กำหนดขนาดของแต่ละแท่ง */
    width: 2rem; /* 32px */
    height: 0.25rem; /* 4px */
    
    /* เว้นระยะห่างระหว่างแท่ง */
    margin: 0.35rem 0; /* 5.6px */
    
    /* สีของแท่ง */
    background-color: #333;
    
    /* ทำให้โค้งมนเล็กน้อย */
    border-radius: 9999px;
  }
</style>
