---
import Product from "./ProductCard.astro";
import Container from "./Container.astro";
---

<section class="">
  <Container class="py-6">
    <h1 class="uppercase text-center mt-6 mb-10 text-3xl md:text-5xl">New Arrivals</h1>
    <ul
      id="product-list"
      class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-12 limited-view"
    >
      <Product
        title="T-SHIRT WITH TAPE DETAILS"
        img="/src/img/products/image1.png"
        star="4.5"
        fullPrice="120"
      />
      <Product
        title="SKINNY FIT JEANS"
        img="/src/img/products/image2.png"
        star="3.5"
        fullPrice="260"
        discountPercentage={20}
      />
      <Product
        title="CHECKERED SHIRT"
        img="/src/img/products/image3.png"
        star="4.5"
        fullPrice="180"
      />
      <Product
        title="SLEEVE STRIPED T-SHIRT"
        img="/src/img/products/image4.png"
        star="4.5"
        fullPrice="130"
      />
      <Product
        title="T-SHIRT WITH TAPE DETAILS"
        img="/src/img/products/image1.png"
        star="4.5"
        fullPrice="120"
      />
      <Product
        title="SKINNY FIT JEANS"
        img="/src/img/products/image2.png"
        star="3.5"
        fullPrice="260"
        discountPercentage={20}
      />
      <Product
        title="CHECKERED SHIRT"
        img="/src/img/products/image3.png"
        star="4.5"
        fullPrice="180"
      />
      <Product
        title="SLEEVE STRIPED T-SHIRT"
        img="/src/img/products/image4.png"
        star="4.5"
        fullPrice="130"
      />
    </ul>
    <div class="flex justify-center mt-9">
      <button
        id="view-all-button"
        class="btn btn-neutral btn-outline border-gray-500 rounded-full p-5 w-36 md:w-56"
        >View All</button
      >
    </div>
  </Container>
</section>

<style>
  /* Styles for limited and expanded views */
  .limited-view {
    max-height: 350px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .expanded-view {
    max-height: 3000px;
  }
</style>
<script>
  /* JavaScript to toggle between limited and expanded views */
  const button = document.getElementById("view-all-button");
  const productList = document.getElementById("product-list");
  button?.addEventListener("click", () => {
    productList?.classList.toggle("limited-view");
    productList?.classList.toggle("expanded-view");
    if(productList?.classList.contains("expanded-view")){
      button.textContent = "View Less";
    } else {
      button.textContent = "View All";
    }
  });
</script>
