---
import Product from "./ProductCard.astro";
import Container from "./Container.astro";
---

<section class="">
  <Container class="py-6">
    <h1 class="uppercase text-center mt-4 mb-8   md:mt-6 md:mb-14  text-3xl md:text-5xl">New Arrivals</h1>
    <ul
      id="product-list"
      class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-12 limited-view min-[375px]:gap-x-4 "
    >
      <Product
        title="T-SHIRT WITH TAPE DETAILS"
        img="/src/img/products/image1.png"
        star="4.5"
        fullPrice="120"
      />
      <Product
        title="SKINNY FIT JEANS"
        img="/src/img/products/image2.png"
        star="3.5"
        fullPrice="260"
        discountPercentage={20}
      />
      <Product
        title="CHECKERED SHIRT"
        img="/src/img/products/image3.png"
        star="4.5"
        fullPrice="180"
      />
      <Product
        title="SLEEVE STRIPED T-SHIRT"
        img="/src/img/products/image4.png"
        star="4.5"
        fullPrice="130"
      />
      <Product
        title="T-SHIRT WITH TAPE DETAILS"
        img="/src/img/products/image1.png"
        star="4.5"
        fullPrice="120"
      />
      <Product
        title="SKINNY FIT JEANS"
        img="/src/img/products/image2.png"
        star="3.5"
        fullPrice="260"
        discountPercentage={20}
      />
      <Product
        title="CHECKERED SHIRT"
        img="/src/img/products/image3.png"
        star="4.5"
        fullPrice="180"
      />
      <Product
        title="SLEEVE STRIPED T-SHIRT"
        img="/src/img/products/image4.png"
        star="4.5"
        fullPrice="130"
      />
    </ul>
    <div class="flex  justify-center mt-6">
      <button
        id="view-all-button"
        class="btn btn-neutral btn-outline border-gray-500 rounded-full p-4 md:p-6 w-full 
    min-[425px]:w-48"
        >View All</button
      >
    </div>
  </Container>
</section>

<style>
.limited-view {
  max-height: 255px; 
  overflow: hidden;
  transition: max-height 0.5s ease;
}
@media (min-width: 640px) {
  .limited-view {
    max-height: 400px; 
  }
}

@media (min-width: 375px) {
  .limited-view {
    max-height: 280px; 
  }
}
@media (min-width: 426px) {
  .limited-view {
    max-height: 323px; 
  }
}
@media (min-width: 768px) {
  .limited-view {
    max-height: 350px; 
  }
}
.expanded-view {
  max-height: 3000px;
}
</style>
<script>
  /* JavaScript to toggle between limited and expanded views */
  const button = document.getElementById("view-all-button");
  const productList = document.getElementById("product-list");
  button?.addEventListener("click", () => {
    productList?.classList.toggle("limited-view");
    productList?.classList.toggle("expanded-view");
    if(productList?.classList.contains("expanded-view")){
      button.textContent = "View Less";
    } else {
      button.textContent = "View All";
    }
  });
</script>
