---
import Container from "./Container.astro";
---

<section class="bg-black ">
  <Container class="text-center py-4">
    <div class="relative">
      <p class="italic text-gray-300">
        Sign up and get 20% off to your first order. <br class="line-management" /> <u class="text-white">Sign Up Now</u>
      </p>
      <button type="button" class="promo-close-button hidden  sm:block p-2  absolute top-[-8px] right-0 cursor-pointer text-white  hover:bg-[var(--my-color-secondary)] hover:text-[var(--my-color-accent)] rounded-full" aria-label="Close"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z"
          ></path></svg
        ></button>
    </div>
  </Container>
</section>

<script>
  // เลือกปุ่มปิดแถบโปรโมชั่น
  const closeBtn = document.querySelector(".promo-close-button");
  // ฟังก์ชันสำหรับซ่อนแถบโปรโมชั่น
  function hidePromoBanner() {
   const promoBar = closeBtn?.closest("section");
   //เช็คความปลอดภัย
   if(!promoBar) return;
   promoBar.style.display = "none";
  }
  // เพิ่ม Event Listener ให้กับปุ่มปิดแถบโปรโมชั่น
  closeBtn?.addEventListener("click",hidePromoBanner);

</script>


<style is:global> 

/* Logic 1: ทำงานเมื่อหน้าจอแคบกว่า 374.99px ลงไป */
@media (max-width: 374.99px) {
  .line-management { 
    display: none; 

  }
}

/* Logic 2: ทำงานเมื่อหน้าจอตั้งแต่ 425px ขึ้นไป */
@media (min-width: 425.99px) {
  .line-management { 
    display: none; 
  }
}

</style>