---
import Container from "./Container.astro";
---

<section class="bg-black  text-white">
  <Container class="text-center py-4">
    <div class="relative">
      <p class="italic  ">
        Sign up and get 20% off to your first order. Sign Up Now
      </p>
      <button type="button" class="absolute top-0 right-0 hidden md:block"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z"
          ></path></svg
        ></button>
    </div>
  </Container>
</section>
