---
import { reviewsData } from '../data/CustomerDataReviews';
import Star from '../img/icons/star.svg';
import CheckBox from '../img/icons/checkbox.svg';
---
<div class="swiper ">
  <div class="card-wrapper">
 
    
    <ul class="card-list ">
         {
     reviewsData.map((data) =>(

      <li class="card-item rounded-2xl border-2 border-gray-200 py-7 px-8">
        <a href="" class="card-link">
          <span class="card-rating flex  gap-1.5 mb-3.5">
           {Array.from({length:data.stars}).map(()=><Star/>)}</span>
          <h3 class="card-title mb-3 flex items-center gap-2">
            {data.name}
            <span class=""><CheckBox /></span></h3>
          <p class="card-description">
            {data.review}
          </p>
        </a>
      </li>
        ))
      }
    </ul>
  
  </div>
</div>
